@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.app {
  transition: background-color 0.3s ease;
}

.dark {
  background-color: #111827;
  color: #fdf9ff;
  border-color: #fdf9ff;
}

.light {
  background-color: #fdf9ff;
  color: #111827;
  border-color: #111827;
}

.skills-md {
  height: 60vh;
  overflow: hidden;
}
